<div class="alert alert-danger" role="alert" *ngIf="errorMessage != undefined">
  {{ errorMessage }}
</div>
<div class="card text-center bg-dark text-dark">
  <div class="card-header text-light">
    Schere, Stein oder Papier? (Zum Auswählen, auf das Bild klicken)
  </div>
  <div class="card-body">
    <div class="card-group">
      <div class="card">
        <div class="card-header">
          Stein
        </div>
        <img class="card-img-top" src="assets/stone.png" alt="Stein" (click)="playGame('STONE')">
        <div class="card-body">
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Schere
        </div>
        <img class="card-img-top" src="assets/scissors.png" alt="Schere" (click)="playGame('SCISSORS')">
        <div class="card-body">
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Papier
        </div>
        <img class="card-img-top" src="assets/paper.png" alt="Papier" (click)="playGame('PAPER')">
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>
</div>
